[project]
name = "gaas-cli"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13.0"
dependencies = [
  "meilisearch>=0.37.0",
  "pandas>=2.3.3",
  "pyarrow>=22.0.0",
  "pydantic>=2.12.5",
  "python-dotenv>=1.2.1",
  "python-frontmatter>=1.1.0",
  "pyzotero>=1.7.5",
  "requests>=2.32.5",
  "rich>=14.2.0",
  "typer>=0.20.0",
]

[project.scripts]
gaas = "gaas_cli.main:app"

[tool.flake8]
max-line-length = 88

[tool.uv]
package = true

[dependency-groups]
dev = [
  "black>=25.11.0",
  "ruff>=0.14.6",
]

[build-system]
requires = [ "hatchling" ]
build-backend = "hatchling.build"
