[project]
name = "gaas-cli"
dynamic = [ "version" ]
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14.3"
dependencies = [
  "meilisearch>=0.40.0",
  "pandas>=2.3.3",
  "pyarrow>=22.0.0",
  "pydantic>=2.12.5",
  "python-dotenv>=1.2.2",
  "python-frontmatter>=1.1.0",
  "pyzotero>=1.10.0",
  "requests>=2.32.5",
  "rich>=14.3.3",
  "typer>=0.24.1",
]

[project.scripts]
gaas = "gaas_cli.main:app"

[tool.flake8]
max-line-length = 88

[tool.uv]
package = true

[dependency-groups]
dev = [
  "black>=25.12.0",
  "ruff>=0.15.4",
]

[build-system]
requires = [
  "hatchling",
  "uv-dynamic-versioning"
]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.uv-dynamic-versioning]
vcs = "git"
pattern-prefix = "gaas-cli-"
fallback-version = "0.0.0.dev0"

[tool.hatch.build.hooks.version]
path = "src/gaas_cli/_version.py"
template = '''
version = "{version}"
'''
